@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 70% 98%;
    --foreground: 180 80% 3%;
    --muted: 150 27% 89%;
    --muted-foreground: 150 0% 35%;
    --popover: 180 70% 98%;
    --popover-foreground: 180 80% 3%;
    --card: 180 70% 98%;
    --card-foreground: 180 80% 3%;
    --border: 180 5% 90%;
    --input: 180 5% 90%;
    --primary: 180 22% 79%;
    --primary-foreground: 180 22% 19%;
    --secondary: 150 22% 79%;
    --secondary-foreground: 150 22% 19%;
    --accent: 210 22% 79%;
    --accent-foreground: 210 22% 19%;
    --destructive: 12 84% 38%;
    --destructive-foreground: 0 0% 100%;
    --ring: 180 22% 79%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 180 41% 0%;
    --foreground: 180 26% 98%;
    --muted: 150 27% 11%;
    --muted-foreground: 150 0% 65%;
    --popover: 180 41% 0%;
    --popover-foreground: 180 26% 98%;
    --card: 180 41% 0%;
    --card-foreground: 180 26% 98%;
    --border: 180 5% 14%;
    --input: 180 5% 14%;
    --primary: 180 22% 79%;
    --primary-foreground: 180 22% 19%;
    --secondary: 150 22% 79%;
    --secondary-foreground: 150 22% 19%;
    --accent: 210 22% 79%;
    --accent-foreground: 210 22% 19%;
    --destructive: 12 84% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 180 22% 79%;
  }
}



/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
 */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.timeline-card-content {
  height: 400px !important;
}

.chronoClass * {
  -ms-overflow-style: none !important;
  scrollbar-width: 4px !important;
  /* scrollbar-color: #4a4a4a #0f172a !important; */
  scrollbar-color: #4a4a4a rgb(var(--background-end-rgb)) !important;
  scrollbar-width: thin;
  border-radius: 10px;
  overflow-x: hidden;
}

.chronoClass *::-webkit-scrollbar {
  display: 4px !important;
  /* scrollbar-color: #4a4a4a #0f172a !important; */
  scrollbar-color: #4a4a4a rgb(var(--background-end-rgb)) !important;
  scrollbar-width: thin;
}

.card-content-wrapper .object-cover {
  object-fit: cover;
}


.customScrollbar * {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.customScrollbar *::-webkit-scrollbar {
  display: none;
}

/* Assuming this is in styles/global.css or a similar file */
.htmlContent p:first-child {
  font-weight: bold;
  /* color: blue; */
}

